# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env*

# Temporary
*.tmp
*.temp