DB_URL=''
FRONTEND_URL='http://localhost:5173'

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=''
GOOSE_MIGRATION_DIR=./backend/migrations
GOOSE_TABLE=goose_migrations

SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''