DB_URL='postgres://username:password@host:5432/dbname?sslmode=disable'
REDIS_URL='redis://localhost:6379'
FRONTEND_URL='http://localhost:5173'

GOOSE_DRIVER=postgres
GOOSE_DBSTRING='postgres://username:password@host:5432/dbname?sslmode=disable'
GOOSE_MIGRATION_DIR=./backend/migrations
GOOSE_TABLE=goose_migrations

SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''